@model DSPA_MeAudVis.Web.Data.Entities.Applicant

@{
    ViewData["Title"] = "Edit Applicant";
}

<h2>Edit Applicant</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly/>
                </div>
                <div class="form-group">
                    <label asp-for="User.UserName" class="control-label"></label>
                    <input asp-for="User" class="form-control" />
                    <span asp-validation-for="User" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label>
                        <input asp-for="Debtor" /> @Html.DisplayNameFor(model => model.Debtor)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
                <button type="submit" value="Save" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </form>
    </div>
</div>
