@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Por fines educativos se utilizar vectores externos atribuidos a continuación.</p>
<p>
<a href='https://www.freepik.es/vectores/tecnologia'>Vector de Tecnología creado por macrovector - www.freepik.es</a></p>
<p><a href='https://www.freepik.es/vectores/caracter'>Vector de Carácter creado por vectorjuice - www.freepik.es</a></p>