@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>Website for the loan of audiovisual material at the Madero University. Created for the subject of Software Development in Open Platforms II</p>
<br />

<p>
    For educational purposes, external vectors attributed below were used.
</p>
<p>
    <a href='https://www.freepik.es/vectores/tecnologia'>Vector de Tecnología creado por macrovector - www.freepik.es</a>
</p>
<p><a href='https://www.freepik.es/vectores/caracter'>Vector de Carácter creado por vectorjuice - www.freepik.es</a></p>