@{
    ViewData["Title"] = "Contact";
}
<h2>Contact</h2>
<h3>Address</h3>

<address>
    Camino Real a Cholula 4212 Col. Exhacienda La Concepción Buenavista<br />
    C.P. 72150 San Andrés Cholula, Puebla, México.<br />
    Classroom B107 <br />
    <abbr title="Phone">P:</abbr>
    (222)141.59.59 Ext.154
</address>

<h3>Email</h3>
<address>
    <strong>Owner of MAV:</strong> <a href="mailto:miguel.ochoa@umad.edu.mx">miguel.ochoa@umad.edu.mx</a>
    <br />
    <strong>Problems with the web site contact the principal administrator:</strong> <a href="mailto:isf0067@umad.edu.mx">isf0067@umad.edu.mx</a><br />
</address>
