@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    Medios Audiovisuales is responsible for the processing of personal data that you provide us.

    Your personal data will be used to maintain control of the loan and reception of audiovisual material. This treatment is part of the security measures adopted within the area, therefore, it is communicated that no additional treatments will be carried out.

    It is reported that they will not make transfers that require your consent, except those that are necessary to meet information requirements from a competent authority, duly founded and motivated.
</p>
