@model DSPA_MeAudVis.Web.Data.Entities.Loan

@{
    ViewData["Title"] = "Add Loan";
}

<h2>Add Loan</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
                <button type="submit" class="btn btn-success"> <span class="glyphicon glyphicon-plus"></span> </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
