@model DSPA_MeAudVis.Web.Data.Entities.Handbook

@{
    ViewData["Title"] = "Delete Handbook";
}

<h2>Delete Handbook</h2>

<h3>Are you sure you want to delete this Handbook?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></button>
    </form>
</div>
