@model DSPA_MeAudVis.Web.Data.Entities.Administrator

@{
    ViewData["Title"] = "View Administrator";
}

<h2>View Administrator</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            User Name
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary"> <span class="glyphicon glyphicon-arrow-left"></span></a>
</div>
